# Movie-recommendation-System

In [1]:
import numpy as np
import pandas as pd

movies=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

# merging both datasets on basis of title
movies=movies.merge(credits,on='title')


#genre
#id
#keywords
#title
#overview
#release_date
#cast

movies=movies[['movie_id','title','release_date','overview','genres','keywords','cast','crew']]

#missing data check
movies.isnull().sum()
#in case any missing -  
movies.dropna(inplace=True)

#check duyplicate rows
movies.duplicated().sum()

0

In [2]:
import ast

#converting genere dictionary to array of genre name
def congenre(obj):
    genre=[]
    for i in ast.literal_eval(obj):
        genre.append(i['name'])
    return genre


 # to convert genre dictionary string as integer list
# gen=ast.literal_eval(movies.iloc[0].genres)

# congenre(gen)

In [3]:
movies['genres']=movies['genres'].apply(congenre) #already done that's why bad output

movies['keywords']=movies['keywords'].apply(congenre)

In [4]:
#appending 3 cast names only
def concast(obj):
    L=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter!=3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L


def Director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            L.append(i['name'])
            break
    return L

In [5]:

movies['crew']=movies['crew'].apply(Director)
movies['cast']=movies['cast'].apply(concast)

movies['cast']

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4805, dtype: object

In [6]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])


#we need to remove spaces from all the column data

movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])#we need to remove spaces from all the column data
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])

In [7]:
movies

,movie_id,title,release_date,overview,genres,keywords,cast,crew
0,19995,Avatar,2009-12-10,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,2007-05-19,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,2015-10-26,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,2012-07-16,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,2012-03-07,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]
...,...,...,...,...,...,...,...,...
4804,9367,El Mariachi,1992-09-04,"[El, Mariachi, just, wants, to, play, his, gui...","[Action, Crime, Thriller]","[unitedstates–mexicobarrier, legs, arms, paper...","[CarlosGallardo, JaimedeHoyos, PeterMarquardt]",[RobertRodriguez]
4805,72766,Newlyweds,2011-12-26,"[A, newlywed, couple's, honeymoon, is, upended...","[Comedy, Romance]",[],"[EdwardBurns, KerryBishé, MarshaDietlein]",[EdwardBurns]
4806,231617,"Signed, Sealed, Delivered",2013-10-13,"[""Signed,, Sealed,, Delivered"", introduces, a,...","[Comedy, Drama, Romance, TVMovie]","[date, loveatfirstsight, narration, investigat...","[EricMabius, KristinBooth, CrystalLowe]",[ScottSmith]
4807,126186,Shanghai Calling,2012-05-03,"[When, ambitious, New, York, attorney, Sam, is...",[],[],"[DanielHenney, ElizaCoupe, BillPaxton]",[DanielHsia]
4808,25975,My Date with Drew,2005-08-05,"[Ever, since, the, second, grade, when, he, fi...",[Documentary],"[obsession, camcorder, crush, dreamgirl]","[DrewBarrymore, BrianHerzlinger, CoreyFeldman]",[BrianHerzlinger]

In [8]:
movies['tag']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

movies.head()

,movie_id,title,release_date,overview,genres,keywords,cast,crew,tag
0,19995,Avatar,2009-12-10,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,2007-05-19,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,2015-10-26,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,2012-07-16,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,2012-03-07,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [9]:
new_df=movies[['movie_id','title','tag']]
new_df['title']=new_df['title'].apply(lambda x:x.lower())
#as we see lists in tag col so let's make it string
new_df['tag']=new_df['tag'].apply(lambda x: " ".join(x))

<ipython-input-9-8ea265fe5d90>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['title']=new_df['title'].apply(lambda x:x.lower())
<ipython-input-9-8ea265fe5d90>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag']=new_df['tag'].apply(lambda x: " ".join(x))

In [10]:
new_df['tag']=new_df['tag'].apply(lambda x:x.lower())
#converting all upper letters to lower

new_df

<ipython-input-10-cdb24c6960a4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag']=new_df['tag'].apply(lambda x:x.lower())

,movie_id,title,tag
0,19995,avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,pirates of the caribbean: at world's end,"captain barbossa, long believed to be dead, ha..."
2,206647,spectre,a cryptic message from bond’s past sends him o...
3,49026,the dark knight rises,following the death of district attorney harve...
4,49529,john carter,"john carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,el mariachi,el mariachi just wants to play his guitar and ...
4805,72766,newlyweds,a newlywed couple's honeymoon is upended by th...
4806,231617,"signed, sealed, delivered","""signed, sealed, delivered"" introduces a dedic..."
4807,126186,shanghai calling,when ambitious new york attorney sam is sent t...
4808,25975,my date with drew,ever since the second grade when he first saw ...

In [11]:
# we need to make tag text into vectors of data and then we will show nearest 10 vectors

# we will use bag of words technique and k nearestneighbour

# we will merge all tags and then will make 5000 word dataset(most frequent words) (choose less words to perform better)
# then we will check no of words in movie to be recommended  
#  we will get shape(no of movies,no of freq word dataset)



### also stopwords are avoided (helping verbs,. and all that)

# we can use scikit-learn for above purpose
from sklearn.feature_extraction.text import CountVectorizer

cv=CountVectorizer(max_features=5000,stop_words='english')
#max_features is no of words to take from bag

vector_movies=cv.fit_transform(new_df['tag']).toarray()

vector_movies.shape  # no of movies,no of words we chose

# cv.get_feature_names()    ##to get names

(4805, 5000)

In [12]:
# we can see lots of words are similiar so we need to apply stamming (make similiar words as any one )
# we need nltk 


# !pip install nltk

from nltk.stem.porter import  PorterStemmer

ps=PorterStemmer()

def stem(text):
    y=[]
    for  i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)




new_df['tag']=new_df['tag'].apply(stem)

<ipython-input-12-87a8e91a60ac>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag']=new_df['tag'].apply(stem)

In [13]:
#now we need to recreate words



cv=CountVectorizer(max_features=5000,stop_words='english')
#max_features is no of words to take from bag
vectors=cv.fit_transform(new_df['tag']).toarray()

In [15]:
# cv.get_feature_names()
# !pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Requirement already satisfied: scikit-learn in c:\programdata\anaconda3\lib\site-packages (from sklearn) (0.24.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: numpy>=1.13.3 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.20.1)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: scipy>=0.19.1 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.6.2)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1316 sha256=1205edb31d41a9f655009380c93020280bdf3c3e21149740e4227f72d1063446
  Stored in directory: c:\users\vimal\appdata\local\pip\cache\wheels\22\0b\40\fd3f795caaa1fb4c6cb738bc1f56100be1e57da95849bfc897
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

In [17]:
#  now to give nearest 10 ,we need to find distance in between and for vector we need cosine distance(angle between two vectors)
from sklearn.metrics.pairwise import cosine_similarity

similarity=cosine_similarity(vectors)

In [18]:
# sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])  # enum so that we don't loose index if used to sort
# sorted(similarity[0],reverse=True) #matrix with diagonal 1


result=pd.DataFrame()

result['movie_id']=movies['movie_id']
result['title']=movies.title+"("+movies['release_date']+")"
result['genre']=movies['genres'].apply(lambda x:",".join(x))
result['cast']=movies['cast'].apply(lambda x:",".join(x))
result['overview']=movies['overview'].apply(lambda x:" ".join(x))

In [19]:
def recommend(mov):
    
        n=10 #no of movies user desire to be recommended
        movies_index=new_df[new_df['title']==mov.lower()].index[0]
        distance=similarity[movies_index]
        movies_list=sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:n+1]
        L=[]
        for i in movies_list:
            t=result.iloc[i[0]]
            df=pd.DataFrame()
            df=[t.movie_id,t.title,t.genre,t.cast,t.overview]
            L.append(df)
        
        header=['Movie_id','Title(Release Date)','Genres','Top 3 Cast','A Brief Overview']
        Movie=pd.DataFrame(L,columns=header)
        return Movie

# OUTPUT Attributes to be shown

In [20]:
#genre
#id
#title(release_date)
#overview
#cast

# Final Working

In [21]:
UserMovie=input('Enter Movie Name: ')
Output=recommend(UserMovie)
Output

Enter Movie Name: Avatar

,Movie_id,Title(Release Date),Genres,Top 3 Cast,A Brief Overview
0,440,Aliens vs Predator: Requiem(2007-12-25),"Fantasy,Action,ScienceFiction,Thriller,Horror","StevenPasquale,ReikoAylesworth,JohnOrtiz","A sequel to 2004's Alien vs. Predator, the ico..."
1,679,Aliens(1986-07-18),"Horror,Action,Thriller,ScienceFiction","SigourneyWeaver,MichaelBiehn,JamesRemar",When Ripley's lifepod is found by a salvage cr...
2,270938,Falcon Rising(2014-09-05),"Adventure,Action","MichaelJaiWhite,NealMcDonough,LateefCrowder","Chapman is an ex-marine in Brazil's slums, bat..."
3,602,Independence Day(1996-06-25),"Action,Adventure,ScienceFiction","WillSmith,BillPullman,JeffGoldblum","On July 2, a giant alien mothership enters orb..."
4,7450,Titan A.E.(2000-06-16),"Animation,Action,ScienceFiction,Family,Adventure","MattDamon,BillPullman,DrewBarrymore",A young man finds out that he holds the key to...
5,44943,Battle: Los Angeles(2011-03-08),"Action,ScienceFiction","AaronEckhart,RamónRodríguez,WillRothhaar",The Earth is attacked by unknown forces. As pe...
6,34851,Predators(2010-07-03),"Action,ScienceFiction,Adventure,Thriller","TopherGrace,AliceBraga,LaurenceFishburne",A mercenary reluctantly leads a motley crew of...
7,11551,Small Soldiers(1998-07-10),"Comedy,Adventure,Fantasy,ScienceFiction,Action","GregorySmith,KirstenDunst,DenisLeary",When missile technology is used to enhance toy...
8,76757,Jupiter Ascending(2015-02-04),"ScienceFiction,Fantasy,Action,Adventure","MilaKunis,ChanningTatum,SeanBean",In a universe where human genetic material is ...
9,11260,Meet Dave(2008-07-08),"Comedy,ScienceFiction,Adventure,Family","EddieMurphy,ElizabethBanks,GabrielleUnion",A crew of miniature aliens operate a spaceship...